<div class="header">
  <img class="logo position-absolute" (click)="navigateTo('')" src="assets/images/logo.png"/>
  <div class="menu-desktop">
    <div class="w-25 d-flex justify-content-between">
      <div class="menu-item" *ngFor="let i of menuItems">
        <h5 (click)="navigateTo(i.path)">{{i.label}}</h5>
      </div>
    </div>
  </div>
  <div class="menu-sm justify-content-end align-items-center px-3 pt-1">
    <div (click)="togglePhoneMenu()" class="hamburger" [class.active]="activePhoneMenu">
      <div class="hamburger-bar" [@hamburger]="!activePhoneMenu ? 'hamburger' : 'topX'"></div>
      <div class="hamburger-bar" [@hamburger]="!activePhoneMenu ? 'hamburger' : 'hide'"></div>
      <div class="hamburger-bar" [@hamburger]="!activePhoneMenu ? 'hamburger' : 'bottomX'"></div>
    </div>
  </div>
  <div [@fadeOnEnter]="activePhoneMenu ? 'rendered' : 'hidden'" class="menu-phone">
    <div class="d-flex menu-item-container flex-column align-items-center justify-content-evenly">
      <div class="menu-item" *ngFor="let i of menuItems">
        <h5 (click)="navigateTo(i.path)">{{i.label}}</h5>
      </div>
      <div class="menu-item credit-signature">
        <div class="d-flex justify-content-center">
          <h5
            #credit
            (click)="animateCredit()"
            class="credit">Credit
          </h5>
        </div>
        <div
          #signature
          (click)="animateCredit()"
          class="signature h5 text-consolas mb-0">created by Keresztes Zsolt
        </div>
      </div>
    </div>
    <div class="social-media d-flex min-vw-100 justify-content-center position-relative">
      <div class="divider bottom-0 position-absolute">
      </div>
      <a href="https://www.linkedin.com/in/zsolt-keresztes-23bb65136/" target="_blank">
        <i class="fa fa-linkedin mx-2"></i>
      </a>
      <a href="https://www.facebook.com/zsolt.keresztes.1253" target="_blank">
        <i class="fa fa-facebook mx-2"></i>
      </a>
      <a href="https://www.instagram.com/kereszteszs/" target="_blank">
        <i class="fa fa-instagram mx-2"></i>
      </a>
      <a href="https://twitter.com/JoshMoograine" target="_blank">
        <i class="fa fa-twitter mx-2"></i>
      </a>
      <a href="https://github.com/Moograine" target="_blank">
        <i class="fa fa-github mx-2"></i>
      </a>
    </div>
    <div class="logo d-flex justify-content-center">
      <img (click)="navigateTo('')" src="assets/images/logowhite.png"/>
    </div>
  </div>
</div>
