<div class="header">
  <div class="menu-desktop">
    <div class="w-25 d-flex justify-content-between">
      <div class="menu-item" *ngFor="let i of menuItems">
        <h5 (click)="navigateTo(i.path)">{{i.label}}</h5>
      </div>
    </div>
  </div>
  <div class="menu-sm justify-content-between align-items-center px-3 pt-1">
    <h2 (click)="navigateTo('')"><strong>K</strong></h2>
    <h2><i (click)="open()" class="fa fa-bars"></i></h2>
  </div>
  <div *ngIf="activePhoneMenu" @fadeOnEnter class="menu-phone position-absolute top-0 w-100 min-vh-100">
    <div class="d-flex justify-content-end me-1 mt-1">
      <h2><i (click)="close()" class="fa fa-close fa-2x mt-2 me-2"></i></h2>
    </div>
    <div class="my-5 d-flex flex-column align-items-center">
      <div class="menu-item my-4" *ngFor="let i of menuItems">
        <h5 (click)="navigateTo(i.path)">{{i.label}}</h5>
      </div>
      <div class="menu-item my-4">
        <h5 (click)="showCredit()" [class.show]="activeCredit" class="credit">Credit</h5>
        <!--        <h5>created by Keresztes Zsoltt</h5>-->
      </div>
      <div  (click)="showCredit()" [class.show]="activeCredit" class="credit"></div>
    </div>
    <div class="d-flex justify-content-center mt-5 pt-5 position-relative">
      <a href="https://www.linkedin.com/in/zsolt-keresztes-23bb65136/" target="_blank">
        <i class="fa fa-linkedin mx-2"></i>
      </a>
      <a href="https://www.facebook.com/zsolt.keresztes.1253" target="_blank">
        <i class="fa fa-facebook mx-2"></i>
      </a>
      <a href="https://www.instagram.com/kereszteszs/" target="_blank">
        <i class="fa fa-instagram mx-2"></i>
      </a>
      <a href="https://twitter.com/JoshMoograine" target="_blank">
        <i class="fa fa-twitter mx-2"></i>
      </a>
      <!-- [ signature ] -->
      <small class="signature position-absolute bottom-0 end-0 px-1">created by Keresztes Zsolt </small>
    </div>
  </div>
</div>
