<div class="min-vh-100 m-5 p-5 text-opacity-75">
  <h2 class="text-center mt-5 text-consolas">Hey, baby. My name is Keresztes Zsolt, and I'm currently off to Buda da Pesta to buy a lovely Mercedes W123 200D. It's a baby</h2>
  <p class="m-5 text-center">Make no mistake, there a lots of good companies out there, that take care of their employees.
                  Competition's high for these companies, because just like there are lots of good, caring companies out there,
                  there are also lots of talented young individuals, ready to work for these companies. Now, let's talk about salary, and the reason why I brought up competition
                  for companies. I completely understand why companies don't want to post in job descriptions any estimated salary. But when you come to me with a proposal,
                  you expect me not to waste your time. Hell, I expect not to waste your time. But I also expect the same from you. Meaning, that you should immediately look at
                  at what I do, am I the right one for you? If you feel like yes and this could be a profitable cooperation for both of us, then you should continue immediately with
                  your budget for salary. Why? Because both of you will know what the other is offering. That's why negotiation is so beautiful.
                  You can immediately decide if this conversation should continue or not. Everyone's time is respected. </p>
</div>
