<div class="m-2 m-sm-4 p-1 p-sm-5">
  <h2 class="text-center mt-3 text-consolas">I'm a Frontend Developer - UX / UI Designer</h2>
  <div class="content mt-5 px-1 px-md-5 w-100 d-flex flex-column justify-content-center align-items-center">
    <div
      (click)="toggleSlide(slide)"
      class="box p-2 m-2 rounded-1 position-relative d-flex align-items-center"
      *ngFor="let content of contentItems">
      <span>{{content.description}}</span>
      <div #slide class="slide-top position-absolute top-0 start-0">
        <p class="text-consolas">{{content.title}}</p>
      </div>
    </div>
  </div>
</div>
