<div class="d-flex justify-content-center text-opacity-75">
  <div class="conditions-wrapper">

    <h2 class="text-center text-consolas mb-3">Refund Policy</h2>

    <h6>
      WHAT QUALIFIES AS A RETURN
    </h6>
    <p>
      No returns will be accepted unless the product was faulty due to creator error. For a product to be considered faulty it must be for the following reason: broken code
      resulting in the product not working as intended.
    </p>

    <h6>
      INSPECTING RETURN REQUESTS
    </h6>
    <p>
      If the product was faulty, it will undergo inspection to confirm the problem. If the inspection determines that the product was faulty, then you will be eligible for a full
      return of that purchase. However, if the inspection determines that the product was not faulty, then you will not be eligible for a full return of that purchase.
    </p>

    <h6>
      HOW THE RETURN PROCESS WORKS
    </h6>
    <p>
      All returns will be refunded to the original form of payment within 3 to 7 business days once a return is established and accepted by both parties. If a return is made, any
      code from that purchase must be removed from any website and refrained from any future use unless repurchased. You must also destroy any downloaded materials in your
      possession whether, in electronic or printed format, this includes the downloadable .PDF access file.
    </p>

    <h6>
      DENIAL OF A RETURN
    </h6>
    <p>
      <span class="domain">kereszteszs.com</span> still holds the right to deny any return requested based on suspected misuse of the return policy or a problem that was outside of
      its control.
    </p>

    <h6>
      HOW DO I START THE RETURN PROCESS?
    </h6>
    <p>
      To start a return request, simply email <span class="domain">contact@kereszteszs.com</span> with the following in the subject line "Code Shop - Return Request". Please provide a brief description of why
      you're requesting a return and I'd be happy to work with you through this process.
    </p>
    <p class="pt-3 mt-4 mx-2 border-top border-light opacity-50"></p>
    <p>
      Revision date: December 4, 2022
    </p>
  </div>
</div>
