@import 'src/assets/styles/variables';

.wrapper {
  width: 100vw;
  background-image: linear-gradient(to right, $beige-light-transparent, $beige-light);

  .header {
    position: relative;
    z-index: 3;
  }
}
