$beige-light-transparent:  rgba(231, 213, 212, 0.75);
$beige-light: rgb(252, 209, 196);


$beige-light-transparent2: rgba(160, 148, 148, 0.75);
$beige-light2: rgb(160, 133, 125);


$dark-gray: rgba(55, 55, 55);

.wrapper {
  background-image: linear-gradient(to right, $beige-light-transparent, $beige-light);
}
