@import 'node_modules/font-awesome/scss/font-awesome';

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.text-consolas {
  font-family: Consolas, monaco, monospace;
}

h2 {
  font-size: calc(.3rem + 3.3vw);
}

::-webkit-scrollbar {
  width: .5rem;

  &-track {
    background: #f1f1f1;
  }

  &-thumb {
    background: #888;

    &:hover {
      background: #555;
    }
  }
}
