/* Colors */

$white: rgb(248, 230, 230);
$header-background: rgba(231, 213, 212, 0.75);
$cursor-color: rgba(255, 255, 255, .75);
$transparent_4-white: rgba(255, 255, 255, .75);
$transparent_3-white: rgba(255, 255, 255, .2);
$transparent_2-white: rgba(255, 255, 255, .6);
$transparent_1-white: rgba(255, 255, 255, .5);
$header-font-color: rgb(131, 129, 126);
$green: rgb(89, 155, 50);
$beige-light-transparent: rgba(231, 213, 212, 0.75);
$beige-light: rgb(252, 209, 196);
$wheat: rgb(239, 182, 176);
$light-wheat: rgb(183, 170, 155);
$light-wheat-contrast: rgb(217 194 194);
$dirty-wheat: rgb(167, 184, 167);
$dark-wheat: rgb(152, 133, 117);
$dark-wheat-hover: rgb(162, 143, 128);
$darker-wheat: rgb(138, 122, 107);
$gray-wheat: rgb(122, 95, 95);
$ocean-blue: rgb(85, 90, 100);
$purple-blue: rgb(74, 73, 100);
$gray: rgb(93, 86, 84);
$dark-gray: rgb(67, 43, 43);
$shadow: rgb(0 0 0 / 50%);
$shadow-light: rgb(0 0 0 / 25%);
$black: rgb(15, 15, 15);
$transparent-black: rgb(0 0 0 / 85%);

/* Heights */

$header-height: 5rem;
