<div class="d-flex justify-content-center text-opacity-75">
  <div class="conditions-wrapper">

    <h2 class="text-center text-consolas mb-3">Terms of Service</h2>

    <h6 class="p-title">
      1. TERMS
    </h6>

    <p>
      By accessing this website, you are agreeing to be bound by these website Terms and Conditions of Use, all
      applicable laws, and regulations, and agree that you are responsible
      for
      compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from
      using or accessing this site. The materials contained in this
      website are protected by applicable copyright and trademark law.
    </p>


    <h6 class="p-title">
      2. SINGLE-USE LICENSE
    </h6>
    <p>
      (a) This Single-Use License grants you, the Purchaser, an ongoing, non-exclusive, worldwide license to make use of
      the digital work (Code Snippet) you have purchased. This is
      the
      grant of a license, not a transfer of title.
    </p>
    <p>
      (b) You may use a single Code Snippet multiple times within one website. However, that Code Snippet may not be
      used on multiple websites unless repurchased per each
      additional
      website or if repurchased as a Developer License.
    </p>
    <p>
      (c) You may not remove any copyright or other proprietary notations from the materials or Code Snippets provided.
    </p>
    <p>
      (d) You can’t re-distribute the Code Snippet as stock, in a tool or template, or with source files. You cannot do
      this with an Item either on its own or bundled with other
      items,
      and even if you modify the Item. You cannot redistribute or make available the Item "as is" or with superficial
      modifications. These things are not allowed even if the
      redistribution is for Free.
    </p>
    <p>
      (e) This license shall automatically terminate if you violate any of these restrictions and may be terminated by
      <span class="domain">kereszteszs.com</span> at any time. Upon terminating your viewing of
      these materials or upon the termination of this license, you must destroy any downloaded materials in your
      possession whether in electronic or printed format.
    </p>

    <h6 class="p-title">
      3. DEVELOPER LICENSE
    </h6>
    <p>
      (a) This Developer License grants you, the Purchaser, an ongoing, non-exclusive, worldwide license to make use of
      the digital work (Code Snippet) you have purchased. This is
      the
      grant of a license, not a transfer of title.
    </p>
    <p>
      (b) You may use a single Code Snippet multiple times on as many websites for you or your client(s) for as long as
      you wish.
    </p>
    <p>
      (c) You may not remove any copyright or other proprietary notations from the materials or Code Snippets provided.
    </p>
    <p>
      (d) You can’t re-distribute the Code Snippet as stock, in a tool or template, or with source files. You cannot do
      this with an Item either on its own or bundled with other
      items,
      and even if you modify the Item. You cannot redistribute or make available the Item "as is" or with superficial
      modifications. These things are not allowed even if the
      redistribution is for Free.
    </p>
    <p>
      (e) This license shall automatically terminate if you violate any of these restrictions and may be terminated by
      <span class="domain">kereszteszs.com</span> at any time. Upon terminating your viewing of
      these materials or upon the termination of this license, you must destroy any downloaded materials in your
      possession whether in electronic or printed format.
    </p>

    <h6 class="p-title">
      4. DISCLAIMER
    </h6>
    <p>
      The materials on <span class="domain">kereszteszs.com</span>'s website are provided "as is". <span class="domain">kereszteszs.com</span>
      makes no warranties, expressed or implied, and hereby disclaims and negates all other
      warranties,
      including without limitation, implied warranties or conditions of merchantability, fitness for a particular
      purpose, or non-infringement of intellectual property or other
      violation of rights. Further, <span class="domain">kereszteszs.com</span> does not warrant or make any
      representations concerning the accuracy, likely results, or reliability of the use of the materials
      on
      its website or otherwise relating to such materials or on any sites linked to this site.
    </p>

    <h6 class="p-title">
      5. LIMITATIONS
    </h6>
    <p>
      In no event shall <span class="domain">kereszteszs.com</span> or its suppliers be liable for any damages
      (including, without limitation, damages for loss of data or profit, or due to business
      interruption)
      arising out of the use or inability to use the materials on <span class="domain">kereszteszs.com</span>'s website,
      even if <span class="domain">kereszteszs.com</span> or a <span class="domain">kereszteszs.com</span> authorized
      representative has been notified
      orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on
      implied warranties, or limitations of liability for
      consequential
      or incidental damages, these limitations may not apply to you.
    </p>

    <h6 class="p-title">
      6. REVISIONS AND ERRATA
    </h6>
    <p>
      The materials appearing on <span class="domain">kereszteszs.com</span>'s website could include technical,
      typographical, or photographic errors. <span class="domain">kereszteszs.com</span> does not warrant that any of
      the materials
      on
      its website are accurate, complete, or current. <span class="domain">kereszteszs.com</span> may make changes to
      the materials contained on its website at any time without notice. <span class="domain">kereszteszs.com</span>
      does not
      make
      any commitment to update the materials.
    </p>

    <h6 class="p-title">
      7. LINKS
    </h6>
    <p>
      <span class="domain">kereszteszs.com</span> has not reviewed all of the sites linked to its website and is not
      responsible for the contents of any such linked site. The inclusion of any link does not
      imply
      endorsement by <span class="domain">kereszteszs.com</span>. Use of any such linked website is at the user's own
      risk.
    </p>

    <h6 class="p-title">
    </h6>
    <p>
      8. SITE TERMS OF USE MODIFICATIONS
      <span class="domain">kereszteszs.com</span> may revise these terms of use for its website at any time without
      notice. By using this website you are agreeing to be bound by the then current version of
      these
      Terms and Conditions of Use.
    </p>

    <h6 class="p-title">
      9. GOVERNING LAW
    </h6>
    <p>
      Any claim relating to <span class="domain">kereszteszs.com</span>'s website shall be governed by the laws of
      Romania without regard to its conflict of law provisions.
    </p>
    <p class="pt-3 mt-4 mx-2 border-top border-light opacity-50"></p>
    <p>
      Revision date: December 4, 2022
    </p>
  </div>
</div>
